body {
  margin: 0;
}


*,
*: after,
*: before {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  height: 100vh;
}

.user-input-section {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  height: 32rem;
}

header {
  font-family: Roboto Slab;
  font-weight: 700;
}

h1 {
  color: #00A79D;
  font-size: 7rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h1 span {
  color: #6D6E71;
}

.input-fields {
  width: 65rem;
  margin: .5rem;
  font-size: 2rem;
  padding-left: .5rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.save-idea-button {
  background-color: #00A79D;
  color: #FFFFFF;
  width: 66rem;
  padding: .2rem;
}

.save-idea-button:hover {
  background-color: #045E55;
}

.button {
  background-image: url("images/upvote.svg");
  height: 1rem;
  width: 1rem;
}

.made-idea {

}

.made-idea h1 {
  color: #6D6E71;
}

.made-idea p {
  color: #939598;
}

.idea-quality {
  color: #6D6E71;
}