body {
  margin: 0;
  max-width: 1440px;
}

*,
*: after,
*: before {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  height: 100vh;
}

body {
  display: grid;
}

ul {
  list-style-type: none;
}

.user-input-section {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  height: 32rem;
  width: 100vw;
}

header {
  font-family: Roboto Slab;
  font-weight: 700;
}

h1 {
  color: #00A79D;
  font-size: 7rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h1 span {
  color: #6D6E71;
}

.input-fields {
  font-size: 2rem;
  line-height: 3rem;
  margin: .5rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  width: 65rem;
}

.save-idea-button {
  background-color: #00A79D;
  color: #FFFFFF;
  padding: .2rem;
  width: 66rem;
}

.save-idea-button:hover {
  background-color: #045E55;
}

.save-idea-button-disabled {
  background-color: #00A79D;
  color: #FFFFFF;
  padding: .2rem;
  width: 66rem;
}

.button {
  background-image: url("images/upvote.svg");
  height: 1rem;
  width: 1rem;
}

.idea-section {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-box {
  font-size: 2rem;
  font-weight: 400;
  padding-left: .5rem;
  line-height: 3.5rem;
  margin: 1rem auto;
  width: 65rem;
}

.idea-section {
  margin: 0;
}


article {
  border-bottom: 0.15rem solid #D1D3D4;
  margin: 0  auto;
  width: 68.5rem;
}

li h1 {
  color: #6D6E71;
  font-family: Roboto Slab;
  font-size: 3rem;
  font-weight: 700;
  height: 6rem;
  overflow: scroll;
}

.delete-button {
  background-image: url('images/delete.svg');
  border: none;
  float: right;
  height: 3rem;
  margin: 0.5rem 2.5rem 0 0;
  outline: 0;
  width: 3rem;
}

.delete-button:hover {
  background-image: url('images/delete-hover.svg');
}

div {
  align-items: center;
  display: flex;
  justify-content: left;
  padding-bottom: 2rem;
}

.quality-button {
  border: none;
  height: 3rem;
  margin: 0 1rem;
  outline: 0;
  width: 3rem;
}

li h2 {
  color: #6D6E71;
  font-weight: 700;
  line-height: 5rem;
  margin: 0 1.5rem;
  width: 14rem;
}

li p {
  color: #939598;
  font-size: 1.75rem;
  height: 6rem;
  overflow: scroll;
  width: 85%;
}

.button-up {
  background-image: url('images/upvote.svg');
  margin-left: 0;
}

.button-up:hover {
  background-image: url('images/upvote-hover.svg')
}

.button-down {
  background-image: url('images/downvote.svg');
}

.button-down:hover {
  background-image: url('images/downvote-hover.svg')
}

@media only screen and (max-width: 790px) {

  .user-input-section {
    height: 28rem;
  }
  
  h1 {
    color: #00A79D;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .input-fields {
    margin-bottom: 1.5rem;
    width: 21rem;
  }

  .save-idea-button-disabled {
    padding: .2rem;
    width: 22rem;
  }

  .button {
    background-image: url("images/upvote.svg");
    height: 1rem;
    width: 1rem;
  }

  article {
    border-bottom: 0.15rem solid #D1D3D4;
    margin: 0 auto;
    width: 33rem;
  }

  .idea-section {
    display: flex;
    align-items: center;
  }
  li h2 {
    color: #6D6E71;
    font-weight: 700;
    line-height: 5rem;
    margin: 0 1.5rem;
    width: 14rem;
  }

  .search-box {
    font-size: 2rem;
    width: 22rem;
  }

}
